body {
    color:white;
    letter-spacing: 6px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.welcomeText {
    display:block;
    width:90%;
    background-color:lightblue;
    border-radius:20px;
    border-color:transparent;
    margin:25px;
    padding:20px;
}
.overflowText {
    padding:20px;
    display:block;
    width:90%;
    background-color:lightblue;
    border-radius:20px;
    border-color:transparent;
    margin:25px;
}
div, p {
    font-size:25px;
}