body {
    letter-spacing: 6px;
    background-color:black;
    color:rgb(255, 255, 255);
}
.soundslimeAlbum {
    font-size:12px;
    display:block;
    width:100%;
    margin:50px;
    overflow:hidden;
}
